<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>编译原理实践</title>
</head>
<body>
<div class="index">
    <div class="nav">
        <div class="left">
            <h1>编译原理实践</h1>
        </div>
        <div class="right">
            <span class="team">队名：编译原理去哪儿</span>
            <span class="member">成员：孙棚飞 黄浩宇 汤千禧 张晓涓</span>
        </div>
    </div>
    <div class="main">
        <div class="input_container">
            <div class="progress">
                <div class="item" id="item-1" style="background-color:#20bfa9; cursor:pointer;" onclick="select(1)">
                    词法分析
                </div>
                <div class="line"></div>
                <div class="item" id="item-2" onclick="select(2)" style="cursor:pointer;">语法分析</div>
                <div class="line"></div>
                <div class="item" id="item-3" onclick="select(3)" style="cursor:pointer;">语法制导与中间代码生成</div>
            </div>
            <textarea class="input" cols="30" rows="20"></textarea>
            <div class="btn_container">
                <button class="btn" onclick="submit()" style="cursor:pointer;">提交代码</button>
            </div>
        </div>
        <div class="output_container">
            <div class="block word block-hide">
                <h2>词法分析输出</h2>
                <textarea class="output" cols="30" rows="25"></textarea>
                <h2>符号表输出</h2>
                <textarea class="symbol" cols="30" rows="5"></textarea>
            </div>
            <div class="block grammar block-hide">
                <h2>语法分析输出</h2>
                <textarea class="output" cols="30" rows="20"></textarea>
            </div>
            <div class="block code block-hide">
                <h2>语法制导与中间代码生成</h2>
                <textarea class="output" cols="30" rows="20" style="font-size: x-large"></textarea>
            </div>
        </div>
    </div>
</div>
</body>

<script>

    localStorage.setItem('progress', 1);

    function select(no) {
        var selectColor = "#20bfa9";
        var notSelectColor = "#a6aca4";
        for (i = 1; i <= 3; i++) {
            if (i == no) {
                document.getElementById("item-" + i).style.background = selectColor;
            } else {
                document.getElementById("item-" + i).style.background = notSelectColor;
            }
        }
        localStorage.setItem('progress', no)
    }

    function submit() {
        console.log(document.getElementsByClassName('input')[0].value);
        console.log(localStorage.getItem('progress'));
        let progress = parseInt(localStorage.getItem('progress'));
        if (progress == 1) {
            //词法分析
            fetch('/api/lexer/code', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    code: document.getElementsByClassName('input')[0].value
                })
            })
                .then(res => res.json())
                .then(res => {
                    console.log(res);
                    document.getElementsByClassName('word')[0].classList.remove('block-hide');
                    // 把返回数据写到下面
                    document.getElementsByClassName('output')[0].value = res.output;
                    document.getElementsByClassName('symbol')[0].value = res.symbol;
                    select(progress + 1);
                })
                .catch((error) => {
                    alert(error)
                })
        } else if (progress == 2) {
            // 语法分析
            fetch('/api/syntax/analyzer/code', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    code: document.getElementsByClassName('input')[0].value
                })
            })
                .then(res => res.json())
                .then(res => {
                    console.log(res);
                    document.getElementsByClassName('grammar')[0].classList.remove('block-hide');
                    // 把返回数据写到下面
                    document.getElementsByClassName('output')[1].value = res.output;
                    select(progress + 1);
                })
                .catch((error) => {
                    alert(error)
                })
        } else if (progress == 3) {
            // 中间代码
            fetch('/api/sdt/code', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    code: document.getElementsByClassName('input')[0].value
                })
            })
                .then(res => res.json())
                .then(res => {
                    console.log(res);
                    document.getElementsByClassName('code')[0].classList.remove('block-hide');
                    // 把返回数据写到下面
                    document.getElementsByClassName('output')[2].value = res.output;

                })
                .catch((error) => {
                    alert(error);
                })
        }
    }
</script>

</html>